<div class="backgroundImage">
    <div class="container">
            <div class="row offset-md-4">
                    <h1 class="font-weight-bold">FIND.EAT.REVIEW</h1>
            </div>
            <div *ngIf="auth.loggedIn" class="row offset-md-5">
                    <button 
                    class="btn btn-success"
                    (click)="goToCusines()"
                    >
                            Explore Cusines
                    </button>
            </div>
    </div>
</div>
